body{
    background: url('img/body_background.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#logo{
    position: absolute;
    top: 70px;
    left: 550px;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 150px;
    background: url('img/logo.png');
    background-size: cover;
}
#sunlogo{
    position: absolute;
    top:10px;
    left:10px;
    width: 50px;
    height: 50px;
    background: url('img/sun.png');
    background-size: cover;
    z-index: 1;
}
.sunDrops{
    position: absolute;
    width: 50px;
    height: 50px;
    background: url('img/sun.png');
    background-size: cover;
}
.plants{
    position: absolute;
    width: 100px;
    height: 100px;
}
.zombies{
    position: absolute;
    width: 90px;
    height: 100px;
}
.peaBullets{
    width:18px;
    height:18px;
    background: url('img/Peabullets.png');
    position:absolute;
    background-size: cover;
}
#cardContainer{
    position: absolute;
    padding:10px;
    top: 40px;
    left:20px;
    width: 130px;
    height: 500px;
    background-color: grad;
}
#peaCard{
    position: relative;
    margin:auto;
    margin-bottom: 10px;
    width: 130px;
    height: 80px;
    background: url('img/PeashooterCard.png');
    background-size: cover;
}
#sunCard{
    position: relative;
    margin:auto;
    margin-bottom: 10px;
    width: 130px;
    height: 80px;
    background: url('img/SunflowerCard.png');
    background-size: cover;
}
#wallNutCard{
    position: relative;
    margin:auto;
    margin-bottom: 10px;
    width: 130px;
    height: 80px;
    background: url('img/WallbutCard.png');
    background-size: cover;
}
#suns{
    position: relative;
    margin-bottom: 10px;
    width: 130px;
    height: 50px;
    background:wheat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: white;
    text-align: right;
}
#container {
    position: absolute;
    margin-left: 20px;
    top: 150px;
    left: 0px;
    width: 1000px;
    height: 600px;
    background: url('img/play_background.png');
}